<launch>
    <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    <param name="baud"              type="int"                  value="500000"/>
    </node>
    <node name="vision_test"        pkg="vision_test"           type="vision_test_node.cpp">
    </node>
    <node name="axo_move_it"        pkg="axo_move_it"           type="axo_move_it_node.cpp">
    </node>
</launch>
